<h1>Consulta de datos del Distrito</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Codigo:</strong>
  <%= @distrito.codigo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @distrito.nombre %>
</p>

<%= link_to 'Edit', edit_distrito_path(@distrito) %> |
<%= link_to 'Back', distritos_path %>
