<p id="notice"><%= notice %></p>

<h1>Relación de Operadores</h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Telefono</th>
      <th>Cuenta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @operador_registros.each do |operador_registro| %>
      <tr>
        <td><%= operador_registro.codigo %></td>
        <td><%= operador_registro.nombres %></td>
        <td><%= operador_registro.apellidos %></td>
        <td><%= operador_registro.telefono %></td>
        <td><%= operador_registro.cuenta %></td>
        <td><%= link_to 'Show', operador_registro %></td>
        <td><%= link_to 'Edit', edit_operador_registro_path(operador_registro) %></td>
        <td><%= link_to 'Destroy', operador_registro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Registrar Operador', new_operador_registro_path %>
