<%= simple_form_for(@conductor_registro) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nombre %>
    <%= f.input :telefono %>
    <%= f.input :apellido %>
    <%= f.input :correo %>
    <%= f.input :contraseña %>
    <%= f.input :codigo %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    
   
  </div>
<% end %>
