<p id="notice"><%= notice %></p>

<p>
  <strong>Correo:</strong>
  <%= @cuentum.correo %>
</p>

<p>
  <strong>Password:</strong>
  <%= @cuentum.password %>
</p>

<%= link_to 'Edit', edit_cuentum_path(@cuentum) %> |
<%= link_to 'Back', cuenta_path %>
