<h1>Consultar los datos de la Tarifa</h1>
<p id="notice"><%= notice %></p>

<p>
  <strong>Distrito origen:</strong>
  <%= @tarifario_registro.distrito_origen %>
</p>

<p>
  <strong>Distrito origen:</strong>
  <%= @tarifario_registro.distrito_origen %>
</p>

<p>
  <strong>Tarifa:</strong>
  <%= @tarifario_registro.tarifa %>
</p>

<%= link_to 'Edit', edit_tarifario_registro_path(@tarifario_registro) %> |
<%= link_to 'Back', tarifario_registros_path %>
